<div class="container row">
  <div class="col-md-9">
    <h1>Instruction</h1>
    <p>
      AmazingCinemaDB contains 6 tables (entities) and a relationship table between Movies and Auditoriums.
    </p>
    <p>
      For each table, the user can insert new rows into tables by the input forms on each page.
    </p>
    <ol>
      <li>Movies&Auditoriums
        <ul>
          <li>Insert Movies row</li>
          <li>Insert Auditoriums row</li>
          <li>Insert Movies_Auditoriums row</li>
          <li>Search Movies by name</li>
          <li>Search Auditoriums by name</li>
          <li>Search Auditoriums by theaters.name</li>
          <li>Search Auditoriums by projector.type</li>
          <li>Search Movies_Auditoriums by movies.name</li>
          <li>Search Movies_Auditoriums by auditoriums.name</li>
          <li>Search Movies_Auditoriums by time_slot</li>
          <li>Edit Movies_Auditoriums</li>
          <li>Delete Movies_Auditoriums</li>
        </ul>
      </li>
      <li>Tickets
        <ul>
          <li>Insert Tickets row</li>
          <li>Search Tickets by movies.name</li>
          <li>Search Tickets by auditoriums.name</li>
          <li>Search Tickets by customers.name</li>
          <li>Edit Tickets</li>
          <li>Delete Tickets</li>
        </ul>
      </li>
      <li>Theaters
        <ul>
          <li>Insert Theaters row</li>
          <li>Search Theaters by name</li>
          <li>Edit Theaters</li>
          <li>Delete Theaters</li>
        </ul>
      </li>
      <li>Customers
        <ul>
          <li>Insert Customers row</li>
          <li>Search Customers by name</li>
          <li>Edit Customers</li>
          <li>Delete Customers</li>
        </ul>
      </li>
      <li>Projectors
        <ul>
          <li>Insert Projector Equipments row</li>
          <li>Search Projector by type</li>
          <li>Edit Projectors</li>
          <li>Delete Projectors</li>
        </ul>
      </li>
    </ol>
  </div>
</div>