<div class="container">
  <h2>Theaters</h2>
  {{!-- Form --}}
  <form class="row" action="" method="POST">
    <div class="col-md-6 col-sm-10">
      <div class="input-group mb-3 align-items-center">
        <label for="name" class="form-label mx-2">name</label>
        <input id="name" type="text" class="form-control" name="name">
      </div>

      <div class="input-group mb-3 align-items-center">
        <label for="address" class="form-label mx-2">address</label>
        <input id="address" type="text" class="form-control" name="address" placeholder="ex: 1234 Main St">
      </div>
      <div class="input-group mb-3 align-items-center">
        <label for="phone" class="form-label mx-2">phone</label>
        <input id="phone" type="tel" class="form-control" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
      </div>
      <div>
        <input class="btn btn-primary " type="submit" value="Insert">
      </div>
    </div>
  </form>

  {{!-- Filter --}}
  <form class="row" action="" method="POST">
    <div class="col-md-6 col-sm-10">
      <div class="input-group my-3 align-items-center">
        <label for="search" class="form-label mx-2">Search By</label>
        <select id="search" class="form-select form-control mx-2" aria-label="Default select example">
          <option selected value="theaterId">Search By</option>
          <option value="name">name</option>
        </select>
        <input type="text" class="form-control mx-2" name="searchKeyword">
        <input class="btn btn-outline-primary mx-2" type="submit" value="Search">
      </div>
    </div>
  </form>

  {{!-- Table --}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">theater_id</th>
        <th scope="col">name</th>
        <th scope="col">address</th>
        <th scope="col">phone</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Amazing Century</td>
        <td>10250 Santa Monica Blvd #2000, Los Angeles, CA 90067</td>
        <td>310-777-2222</td>
        <td><button class="btn btn-secondary">Edit</button></td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Amazing Empire</td>
        <td>234 W 42nd St, New York, NY 10036</td>
        <td>212-333-2555</td>
        <td><button class="btn btn-secondary">Edit</button></td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Amazing Pacific</td>
        <td>600 Pine St #400, Seattle, WA 98101</td>
        <td>206-655-8999</td>
        <td><button class="btn btn-secondary">Edit</button></td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>